<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Datas</title>
</head>
<body>
    <div class="container">
        <table class ="table">
            <h3> Programs Offered: </h3>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Branch</th>
                </tr>
            </thead>
            <tbody>
                {% for r in program_rows %}
                <tr>
                    <td>{{ r.title }}</td>
                    <td>{{ r.branch }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table">
            <h3> Students: </h3>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll Number</th>
                    <th scope="col">Year</th>
                    <th scope="col">Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                {% for r in student_rows %}
                <tr>
                <td>{{ r.name }}</td>
                <td>{{ r.roll_number}}</td>
                <td>{{ r.year }}</td>
                <td>{{ r.dob}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>